In [28]:
# debugging and formatter
from IPython.core.debugger import set_trace

import pandas as pd
import numpy as np
import os
import random
import matplotlib.pyplot as plt
import pickle
import time

%matplotlib inline

In [29]:
#!pip install faker

In [30]:
from faker import Faker
from random import randint
randint(100, 999)

fake = Faker()

def faker_categorical(num=1, seed=None):
    """
    """
    np.random.seed(seed)
    fake.seed_instance(seed)

    output = [
        {
#             "Student ID": np.random.choice(np.arange(0, 9, 6), p=[0.1,0.2,0.1,0.1,0.1,0.1,0.1,0.1,0.1]),
            "Student ID": randint(100000000, 999999999),
            "Name": fake.last_name(),
            "Email": fake.free_email(),
            "Greek": np.random.choice([np.nan, "AEPhi", "AEPi", "ZBT", "Pi Phi", "Chi O", "Theta", "Phi Mu", "Kappa",
                                      "Zeta Psi", "KSig", "SigEp"]),
            "Gender": np.random.choice(["M", "F", "Not Specified"], p=[0.3, 0.6, 0.1]),
            "Year": np.random.choice(["Freshman", "Sophmore", "Junior", "Senior", "Graduate"]),
            "Dorm": np.random.choice(["Sharp 1", "Sharp 2", "Irby 345", "Phelps 233", "Mayer 420", "Butler 5",
                                     "Sharp 4", "Monroe 2", "Irby 385", "Aron 233", "Mayer 400", "Aron 439"]),
            "In Person Class": np.random.choice(["Math", "Finance", np.nan], p=[0.3, 0.6, 0.1]),
            "Clubs": np.random.choice([np.nan, "Book club", "Cycling", "Tennis Club", "Soccer Club", "Rowing",
                                        "Karate", "Baseball Club", "Comedy Club", "Feminism", "Dance Team",
                                      "Running", "Walking", "Cookies and Code"])
#             "avg_rating": np.random.choice(
#                 np.arange(0, 6, 1), p=[0.5, 0.05, 0.05, 0.30, 0.05, 0.05]
#             ),
        }
        for x in range(num)
    ]
    return output

In [31]:
df = pd.DataFrame(faker_categorical(num=100, seed=0))
df

,Student ID,Name,Email,Greek,Gender,Year,Dorm,In Person Class,Clubs
0,411251679,Richard,nfisher@yahoo.com,Chi O,F,Senior,Phelps 233,Finance,Tennis Club
1,790428543,Sullivan,yturner@yahoo.com,Chi O,F,Freshman,Irby 385,Math,Book club
2,664263998,Odonnell,juan19@hotmail.com,Theta,F,Freshman,Sharp 2,nan,Cookies and Code
3,971133240,Archer,janet92@gmail.com,Kappa,M,Senior,Sharp 1,Finance,nan
4,246512681,Blair,ysutton@gmail.com,AEPi,F,Sophmore,Phelps 233,Finance,Tennis Club
...,...,...,...,...,...,...,...,...,...
95,274317220,Nguyen,michaelmartinez@hotmail.com,Zeta Psi,F,Senior,Irby 345,Finance,Soccer Club
96,609579223,Reed,greerjerry@yahoo.com,AEPhi,F,Freshman,Phelps 233,Math,Soccer Club
97,796656840,Carlson,smithdonna@hotmail.com,KSig,F,Freshman,Sharp 2,nan,Book club
98,124546664,Santana,kelly09@gmail.com,Phi Mu,M,Freshman,Mayer 420,Math,Book club
99,665647932,Thomas,thomaszimmerman@gmail.com,Theta,F,Freshman,Irby 345,Finance,Walking

In [32]:
# Function that returns a list of organizations which the student is involved in. 
def generate_student_org_list(student_id):
    return df.loc[df['Student ID'] == student_id]

In [33]:
df = df.append({"Student ID":563356117}, ignore_index=True)
generate_student_org_list(563356117)

      Student ID Name Email Greek Gender Year Dorm In Person Class Clubs
100  563356117.0  NaN   NaN   NaN    NaN  NaN  NaN             NaN   NaN

In [34]:
# Creating a new dataframe that contains students who have tested positive.
positive_df = pd.DataFrame(columns={'Name':[], 'Email':[], 'Greek':[], 'Gender':[], 'Year':[], 'Dorm':[], 'Clubs':[]})

def if_tested_positive(student_name):
    # Getting the index of the student in the original dataframe. 
    positive_index = df.loc[df.Name == student_name].index
    
    # Adding the student to the positive dataframe.
    positive_df = positive_df.append(df.iloc[positive_index], ignore_index=True)

In [ ]:
# Create a new function to automatically add roommates to your contact list.

<b>Resources</b>
<br>
Installing Faker: https://www.youtube.com/watch?v=jtOtFPIiflA
<br>